@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
}

.landing {
  text-align: center;
  padding-top : 10%;
  padding-bottom: 55%;
  padding-left : 10%;
  background-image: url('./assets/landing2.jpg');
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1200px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}



.browse-title {
  text-align: center;
}

.footer {
  text-align: center;
  padding-top: 0.1%;
  margin-bottom: 0.5%;
}